@keyframes fade-out {
  0% {
      opacity: 1;
      transform: translateY(0);
  }

  66% {
      opacity: 0;
      transform: translateY(50px);
  }

  100% {
      opacity: 0;
      transform: translateY(50px);
  }
}

@keyframes fade-in {
  0% {
      opacity: 0;
      transform: translateY(-50px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fade-in-left {
  0% {
      opacity: 0;
      transform: translateX(-50px);
  }

  100% {
      opacity: 1;
      transform: translateX(0);
  }
}

.fade-out {
  animation: fade-out 1.5s ease-in;
}

.fade-in {
  animation: fade-in 1.5s ease-in;
}

.fade-in-left {
  animation: fade-in-left 1.5s ease-in;
}
.no-animation {
  animation: none !important;
  transition: none !important;
  opacity: 0 !important;
}