.cursor {
    border-radius: 1000px;
    z-index: 10;
    width: 24px;
    height: 24px;
    margin: -12px 0 0 -12px;
    position: absolute;
    pointer-events: none;
    /* border: 12px solid #282828; */
}

.cursor-animate {
    animation: cursor-clicked-1 0.25s linear 0.25s;
}

.cursor-animate::before {
    content: '';
    border-radius: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: none;
    width: 24px;
    height: 24px;
    animation: cursor-clicked-2 0.25s linear;
}

@keyframes cursor-clicked-1 {
    0% {
        border: 12px solid $light;
    }

    100% {
        border: 0px solid $light;
    }
}

@keyframes cursor-clicked-2 {
    0% {
        background-color: $light;
        scale: 0;
    }

    100% {
        background-color: $light;
        scale: 1;
    }
}