.heading-1 {
  font-size: 3rem;
}

.heading-2 {
  font-size: 2rem;
}

.heading-3 {
  font-size: 1.8rem;
}

.heading-4 {
  font-size: 1.5rem;
}

.heading-5 {
  font-size: 1.25rem;
}

.border-width-2 {
  border-width: 2px;
}

.fw-semibold {
  font-weight: 600;
}

.fw-medium {
  font-weight: 500;
}