@import "./_overwrite.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_animation.scss";
@import "./_card.scss";
@import "./_cursor.scss";
@import "./_font.scss";
@import "./_smallscreen.scss";


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  background-color: $dark;
  color: $light;
  // overflow-x: hidden;
}

* {
  font-family: 'Montserrat', sans-serif;
}

.card-img-mask {
  position: relative;
  max-height: 20rem;
  overflow: hidden;
  border-top: 1px solid #D7C07F;
}

.card-img-mask:hover>.img-overlay {
  top: 0;
}

.img-overlay {
  display: block;
  position: absolute;
  top: 20rem;
  left: 0;
  transition: top 1.5s;
  height: 100%;
  width: 100%;
  background-color: rgba(233, 219, 173, 0.9);
  font-size: 24px;
}

.border-left {
  border-left: solid 1px #be9a34;
}

.arrow-click {
  color: #be9a34;
}

.a-link {
  border-radius: 8000px;
  border: 2px solid #be9a34;
}

.transition {
  transition: top 1.5s, left 1.5s, font-size 1.5s, width 1.5s;
}

.nav-link-clicked {
  display: block !important;
  position: absolute !important;
  top: 2rem !important;
  left: 0px !important;
  font-size: 4.5rem !important;
  opacity: 1 !important;
  width: 100% !important;
}

.nav-position {
  position: absolute;
  width: 0%;
  text-align: center;
  opacity: 0;
  transition: position 1.5s, top 1.5s, left 1.5s, font-size 1.5s, opacity 1.5s, width 1.5s;
}

.b-0 {
  border-radius: 0;
}

.nav-link {
  color: #282828;
}

.card {
  background-color: $dark;
  border: solid 1px $light;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rounded-4 {
  border-radius: 0.5rem;
}

.border-b {
  border-bottom: 2px solid $light;
}

.img-background {
  width: 100%;
  background-size: cover;
  background-position: center top;
  height: auto;
  background-repeat: no-repeat;
}

.img-background::before {
  content: '';
  display: block;
  padding-top: 56.25%;
}

.github-icon {  
  height: 100%;
  display: inline-block;
  border-radius: 1000rem;
}

.github-icon::before {
  padding: 0.25rem;

}

.btn:hover .bi{
  color: $dark !important;
}

.bi{
  transition: color 0.15s ease-in-out;
}

a {
  text-decoration: none;
  transition: color 0.15s ease-in-out;
}